.message{
    width: 75%;
    margin: 0;    
    margin-left: 14.5%;
    background-color: white;
    
}

.message h1{
    margin: 0;
}

.message div.aside{

    border-right: 1px solid grey;

}

.message div.aside div{
    border-bottom: 1px solid gray;
    margin-right: 0xp;
}