.remetente, .destinatario{
    
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 0px 10px;
}

.remetente p, .destinatario p{
    
    margin: 0;
}
.destinatario{
    width: 50%;
    background-color: rgb(214, 172, 172);;
}

.remetente{
    width: 50%;
    margin-left: 50%;
    background-color: purple;
}

.remetente p{
    text-align: right;
}

.destinatario p{
    text-align: left;
}