.user{
  width: 75%;
  background-color: white;
  margin-left: 14.5%;
  margin-bottom: 0%;
}

.cover{
  width: 100%;
  height: 200px;
}

.profile{

  width: 200px;
  height: 200px;
  border-radius: 200px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-top: -11%;
  margin-left: 40%;
  /* position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -100px; */
}
div.atributos p{
  margin: 0;
  text-align: left;
  text-transform: capitalize;

}
.linkSocial{

  text-decoration: none;

}

.badge{
  width: 50xp;
  height: 50px;
}

.biografia{
  padding: 20px;
  text-align: left;
  background-color: rgb(218, 178, 178);
}

@media screen and (max-width: 560px){
  .user{
    margin:0;
    width: 100%;
  }
}
