.user{
  width: 75%;
  background-color: white;
  margin-left: 14.5%;
  margin-bottom: 0%;
}


.profile{

  width: 200px;
  height: 200px;
  margin:50px;
  margin-left: 10%;
  border-radius: 200px;
  
}
div.atributos p{
  margin: 0;
  text-align: left;
  text-transform: capitalize;
  padding: 0;

}
.linkSocial{

  text-decoration: none;

}

.badge{
  margin: 10px 10px 0 10px;
  width: 25xp;
  height: 25px;
  margin-left: 8%;
}

.biografia{
  padding: 20px;
  text-align: left;
  /* background-color: rgb(218, 178, 178); */
}

@media screen and (max-width: 560px){
  .user{
    margin:0;
    width: 100%;
  }
}

.container{
  margin: 0;
  padding: 0;
  height: auto;
  min-height: 100%;
}
