ul.scroll li div{
    border: 1px 0px 1px 0px;
    padding: 4px;
    margin-bottom: 20px;
}

ul.scroll li div:hover{
    background-color: rgb(90, 17, 86);
    color: gainsboro;
}

ul.scroll li div p{
    font-size: 16px;
    margin: 0px;
    text-align: left;
    text-transform: uppercase;
}

ul.scroll li div p.atributos{
    font-size: 12px;
    color: rgb(163, 80, 80);
}

ul.scroll li{
    list-style: none;
}


ul.scroll li div img{
    height: 25px;
    width: 25px;
    border-radius: 100px;
}


@media screen and (max-width: 680px){
    ul.scroll li div p{
        font-size: 16px;
        margin: 0px;
        text-align: center;
    }
}

