.search{

    margin: 0;
    width: 75%;
    margin-left: 14.5%;
    background-color: white;
    height: auto;
    
}

j{
    color: purple;
    font-weight: bolder;
} 

.closer{
    background-color: rgb(236, 197, 197);
    margin: 2% 0% 2% 0%;
}

.title{
    
    margin: 0;
    padding: 5px;
    font-size: 20px;
}

@media screen and (max-width: 680px){
    .search{
        width: 100%;
        margin: 0;
    }

    br{
        display: none;
    }
    .closer{
        margin: 0%;
    }
}