.search{

    margin: 0;
    width: 75%;
    margin-left: 14.5%;
    background-color: white;
    height: auto;
    
}

.closer p{
        font-size: 5px;    
}


@media screen and (max-width: 480px){
    .search{
        width: 100%;
        margin: 0;
    }

    br{
        display: none;
    }
}