footer{
    background-color: purple;
    color: white;    
    margin: 0;
}

footer p{
    padding: 2px;
    margin: 0px;
    text-align: right;
}

.footer-logo{
    height: 50%;
    width: 50%;
}

.people{
    margin-top: 3%;
}