@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Nova+Mono');
@import url('https://fonts.googleapis.com/css?family=Rozha+One');

* {  box-sizing: border-box; }

body, html{  
  height: 100%;
  min-height: 100%;
}

body{
  padding: 0;
  margin: 0;
  font-family: 'Nunito';
  background-image: url('fundo.jpg');
  background-repeat: repeat;
}

nav, 
header, 
footer {	display: block; }


/* GRID */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}


[class*="col-"] {
  float: left;
  padding: 15px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}



h1, h2, h3, h4, h5, h6, p{
  text-align: center;
}

input, button, label, textarea, select{
  border: none;
  margin: 10px;
  display: inline;
  background-color: transparent;
  font-family: 'Nunito';
  
}

input, textarea { border-bottom: 1px solid purple; width: 95% }

input:focus, textarea:focus{

  border: none;
  border-bottom: 3px solid purple

}
p{
  text-transform: capitalize;
}

button{
  width: 150px;
  padding: 10px;
  color: white; 
  background: purple;
}

#root, .rotas{
  height: 100%;
  min-height: 100%;
}

form{
  
  box-shadow: 1px 1px 1px gray;
  padding: 40px;
  background-color: rgb(250, 194, 194);
}

form span{
  display: block;
}

.center{
      height: 100%;
      min-height: 100%;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      align-items: center;
      -web-justify-content: center;
      justify-content: center;
      flex-direction: column;
  }
  
  
.google{
  background-color: rgb(255, 0, 0);
}

#sound{
  background-color: rgb(255, 136, 0);
}

@media screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
      width: 100%;
  }

  button, input{
    width: 100%;
  }

  form{
    width: 100%;
    box-shadow: 1px 1px 1px white;
  }
}